img[alt=modlet-before],
img[alt=modlet-after],
img[alt=lr-one],
img[alt=lr-two],
img[alt=lr-three] {
  width: 80%;
}

h6 {
  margin: 0;
  padding: 0;
}

.one-hundred p,
.one-hundred img {
  height: 100%;
  text-align: center;
}
